header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img1 {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.hobby-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

/* 메뉴창 */

.side_bar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #adadad;
    transition: all 0.3s ease;
    z-index: 999;
}

button {
    display: inline-block;
    border: 1px solid #eee;
    background: #1f2937;
    color: #eee;
    padding: 10px 20px;
    cursor: pointer;
}

.side_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #adadad;
}

.side_bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.side_bar ul li {
    width: 100%;
    padding: 10px 10%;
}

.side_bar ul li a {
    color: #eee;
    text-decoration: none;
}

/* 카드 */

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: last baseline;
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background-color: #fff;
    width: 300px;
    margin: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    cursor: pointer;
}

.poster-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.poster-overlay {
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #1f1f1f 10%, transparent);
}

.info-section {
    padding: 20px;
    color: #121212;
    position: relative;
}

.title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
}

.subtitle {
    color: #aaa;
    font-size: 14px;
    margin: 0 0 16px 0;
}

.description {
    font-size: 13px;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.action-btn {
    width: 100%;
    padding: 12px;
    background-color: #1f2937;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.action-btn:hover {
    background-color: #ddd;
}